.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #e3e3e3;
    border: 0;
}
.cartitems-format-main{
    display: flex;
    /* grid-template-columns: o.5fr 2fr 1fr 1fr 1fr 1fr; */
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 600;
}
.carticon-product-icon{
    height: 62px;
}
.remove-icon{
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: white;
    color: black;
    margin-bottom: 15px;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;

}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.promocode{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.promocode input{
    width: 400px;
    height: 40px;
    border-radius: 2px;
    font-size: 20px;
    color: black;
}
   .promocode button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
}
.promocode p{
    color: #454545;
     font-weight: 700;
    font-size: 24px;
}
