.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0% 140px;
    background: linear-gradient(180deg , #fed1ff 0% ,#e1ffea22 60%);
    margin-bottom: 150px;
}
.offers-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}
.offers h1{
    color: #171717;
    font-size: 18px;
    font-weight: 600;
}
.offers p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
button{
    width: 280px;
    height: 70px;
    background-color: #ff4141;
    border-radius: 35px;
    color: azure;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
}
.offers-right img{
    height: 400px;
}